.body{
    margin: 0;
    position:relative;
    height: 1000px;
    padding: 30px;
    background-color: rgb(192, 215, 230);
}

.caption{
    margin-top: 20px auto;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    
}
.box-container{
    box-sizing: border-box;
    padding: 0px;
    width: 400px;
    height: 480px;
    background-color: antiquewhite;
    box-shadow: 3px 3px 5px black;
    margin: 0 auto;
     
}
.screen{
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: white;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
     font-size: 40px;
     position: relative;
     padding-top: 30px;
     padding-right: 10px;
     margin: 10p;
      
     text-align: right;   
}
.botton-body{
     
     margin: 0  ;
     
}
table{
     
    width: 100%;
    height: 380px;
    margin: 0 auto;
    padding: 0;
    column-width: 25%;
}
.row1{
    position: relative;
}
td{
    color: white;
    background-color: black;
    font-size: 40px;
    width: 24%;

    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
td:hover{
    color: black;
    background-color: white;
}
.color{
    background-color: blueviolet;
    color: white;
}
.equal{
    background-color: yellow;
    color: white;
}